//output:$1.html

extends comp/base

block style
  link(rel="stylesheet", type="text/css", href="/css/pmp.css")
  

block content
  .pmp-header.header
    .container
      video.bgvid(playsinline='', autoplay='', muted='', loop='')
        source(src='http://www.vmfive.com/video/Home_Video.mp4', type='video/mp4')
  +menu("pmp")
  
  div.pmp-overlap
    h1 PMP
    p Light Up Your Brand with Innovation in a <br>
      | Programmatic Way

  div.pmp-format
    p 1 <br>
      | 2<br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      
  // 
