//output:$1.html

extends comp/base

block style
  style.
    .pmp-header {
      overflow:hidden;
    }
    .pmp-overlap {
      background: #0003;
      padding: 100px 16px 30px 16px;
      height: 100vh;
    }
    .pmp-overlap > h1, .pmp-overlap > p {
      color: #fff;
    }
    .pmp-format {
      background: #fff;
    }
  

block content
  .pmp-header.header
    .container
      video.bgvid(playsinline='', autoplay='', muted='', loop='')
        source(src='http://www.vmfive.com/video/Home_Video.mp4', type='video/mp4')
  +menu("pmp")
  
  div.pmp-overlap
    h1 PMP
    p Light Up Your Brand with Innovation in a <br>
      | Programmatic Way

  div.pmp-format
    p 1 <br>
      | 2<br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      | <br>
      
  // 
