extends comp/base

block content
  +menu("pmp")
  div(class="pmp-overlap", style="background:#ccf;")
    h1 pmp
    p Light Up Your Brand with Innovation in a <br>
      | Programmatic Way
  
      
  // 
