//output:$1.html
//{"menu":{},"button":{},"about":{},"privacy":{},"investor":{"trend": {},"cdif": {},"gmobi": {},"cherubic_ventures": {}},"lang":"en"}
extends comp/base

block meta
  title #{menu.textPrivacy}
  script(src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js",async=true)
  script(src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.4/fetch.min.js",async=true)
  script(src="https://vawpro.vm5apis.com/man.js")

block style
  link(rel="stylesheet", type="text/css", href="/css/privacy.css")

block script_after
  | 
  | var disableButton = $('button.privacy-disable-button');
  | var optOutModal = $('#optOutModal');
  | function updateDisableButton() {
  |   disableButton.attr('disabled' , Cookies.get("vmfive-opt-out") === 'true');
  |   //setTimeout(function(){optOutModal.modal('hide');}, 1000);
  |   if (Cookies.get("vmfive-opt-out") === 'true') {disableButton.text('Already opt out');}
  | }
  | disableButton.on('click', function(){
  |   Cookies.set("vmfive-opt-out", 'true');updateDisableButton();
  |   optOutModal.modal('show');
  |   var url = 'https://beta-pt0.vm5apis.com/api/v2/pixel?&provider=vm5&loggerName=vmfive-opt-out&loggerVer=20180612&inventoryCompany=VMFive&landingId=[landingId]&webBrowserId=[webBrowserId]&event=is_opt_out&eventSubtype=[eventSubtype]';
  |   url = url.replace('[landingId]', window.VM5AD_BROWSER_ID+Date.now());
  |   url = url.replace('[webBrowserId]', window.VM5AD_BROWSER_ID);
  |   url = url.replace('[eventSubtype]', Cookies.get("vmfive-opt-out") === 'true' ? 'true' : 'false');
  |   //console.log(url);
  |   fetch(url);
  | });
  | updateDisableButton();

block content
  +menu("about")
  
  // persistentID
  iframe(src="//man.vm5apis.com/dist/persistentID.html", width="0.1px", height="0.1px") 
  // Modal
  #optOutModal.modal.fade(role='dialog')
    .modal-dialog
      // Modal content
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') &times;
        |         
        .modal-body
          p You have opted out of this network.
        |         
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Confirm


  
  .privacy-overlap
    .description
      p
        h1
          strong Privacy Policy
        br
        h3
          strong What does this privacy policy cover?
        br
        span VMFive is committed to protecting consumer privacy and respecting your right to choice. See below for our complete privacy policy.
        br
        br
        span VMFive (&quot;we&quot;, &quot;us&quot;, or &quot;our&quot;) provides this privacy policy to inform you about how we collect and use data on our corporate website, our technology platform and related technology processes information on behalf of online advertisers, website owners, data providers and other businesses that use our services (those publishers and online advertisers and their agencies who use our technology are defined as our &quot;Clients&quot;). This Privacy Policy does not apply to companies that VMFive does not own or control, including our Clients.
      br
      br
        
      p
        h2
          strong Customer Choices
        br
        span If you would like VMFive to stop collecting cookie based personal information data and provide interest based advertising, press the VMFive opt out button on this page.
      br
      br
          
      p
        h2
          strong Our Technology
        br
        span We collect cookie based personal information using tracking tools placed on a user&rsquo;s browser or advertising IDs in environments. These technologies allow us to analyze campaign performance and identify users&rsquo; interests through browsing behaviors. You can control the use of cookies at the individual browser level.
        br
        br
        span Our partners&rsquo; advertisements are displayed on many websites, also known as &ldquo;publishers.&rdquo; These publishers may also place cookies on your browser. These cookies are there so that the publishers recognize that VMFive has a personalized advertisement available for your browser. The cookie based information collected by publishers should be governed by the specific privacy policies of the publishers which can be accessed directly from their websites.These information is not obtained, used or controlled by VMFive.
      br
      br
        
      p
        h2
          strong Data Collection and Use
        br
        span We do not know who you are. We only collect and use technical anonymous data relating to your browsing navigation to display personalized advertisements.
        br
        br
        span The collection of your personal data is based on your consent: VMFive acts as a joint controller together with its clients and partners who have, when required by law, informed you and collected your consent to cookie (or other tracking technologies) dropping for the purpose of serving targeted advertising (e.g. through a specific campaign website). You may withdraw any consent to personal data processing at any time.
        br
        br
        h3
          strong We collect browsing information
        br
        span To serve relevant ads, we will use the technical data but we never willingly store data that would allow identification of a person (such as name, surname, phone number, address, document identity, etc.). We collect data related to your browsing activity through cookies or advertising IDs that record which may include, but is not limited to:
        br
        ul
          li
            span events related to your activity on our advertising publisher&apos;s website (e.g. video ad watch time)
          br
          li
            span information related to your device (e.g. device type, browser type, OS and its version)
          br
          li
            span and events related to the VMFive ad serving activity (e.g. the time of ads displayed )
        br
        span We also gather certain information automatically. This information may include, but is not limited to referring/exit pages, the files viewed on our site date/time stamp to analyze trends and optimize our advertisement service.
        br
        br
        span We also collect technical user identifiers from our advertising partners for the purpose of linking the different browsers and mobile apps you use and serve you relevant ads based on your behavior across environments. For that purpose we may process and store:
        br
        br
        ul
          li
            span Technical IDs of our advertising partners or application specific identifiers.
          br
          li
            span Mobile advertising IDs (e.g. Apple IDFA or Google ADID) which are specific technical data created by mobile manufacturers to allow personalization and customer analytics in a secure and non-identifying way for users.
        br
        br
        span We also collect data from trusted partners using technical identifiers from 3rd parties/partners for the purpose of offering you a better browsing experience. These partners commit to only sharing ID syncing information that allows us to link users&rsquo; cookies and/or mobile identifiers and to provide an efficient choice.
        br
        br
        span Moreover, we ask that all our partners provide users with a simple way to opt out from the collection and use of their data.
        br
        br
        br
        span Information we collect will be used to improve the relevancy of the ads being displayed to you. We use the collection data for reporting purposes as well, to help our customers and partners realize the performance of the campaigns, and to improve performance over time.
        br
        br
        br
          
        h3
          strong We do not collect any identifying information
        br
        span We do not know who you are. We do not collect any personal identifiable information (e.g. name, phone number , address, email address)
        br
        br 
        span We do not create segments to specifically target children under 13 years old.
      br
      
      p
        h2
          strong Data Retention
        br
        span We may generally use our anonymous cookie information for advertising, reporting, and analysis purposes for up to 12 months. However, we provide tools for you to delete all historical data.
      br
      
      p
        h2
          strong Data Security
        br
        span We follow generally accepted industry standards to protect against the unauthorized access to, retention of, and disclosure of information. This includes undertaking necessary physical, electronic, and management activities required to protect information integrity, access, and use. However, that despite these reasonable efforts to protect information on our servers, no method of transmission over the Internet is guaranteed to be secure, and we cannot guarantee its absolute security.
      br
      
      p
        h2
          strong Data Disclosure
        br
        ul
          li
            span
              | We may share data with our subsidiaries or affiliated companies, and our partners. You will be not directly identified via these data by the data-receiving party.
          br
          li
            span
              | We may disclose your information to 3rd parties when we have reasons to believe we are obligated to do so by law, and in order to investigate, prevent, or take action regarding suspected or actual prohibited activities, including but not limited to, fraud and situations involving potential threats to the physical safety of any person.
      br
        
      p
        h2
          strong Changes to our privacy policy
        br
        span We may update or change this privacy policy. Any changes and/or updates to the policy will be updated directly on this page. Welcome to visit this page frequently to review our latest privacy policy so that you will always know what information we gather and how we may use that information.
        br
        br
        span Last updated: 2018/6/8
        
      br
      br
      button.privacy-disable-button(data-toggle="modal",data-target="#optOutModal") Opt out here
