@import "common.less";

#nav {
  top: 0;
  .background-menu-dark;
}

.adformat-overlap {
  .general-screen();
  .background-default;
  padding: @nav-height 0px 0px 0px;

  @menu-width-sm: 100vw;
  @menu-width-md: 100vw / 4;
  @content-width-sm: 100vw;
  @content-width-md: 100vw - @menu-width-md;

  .content {
    overflow-y: scroll;

    height: 70%;
    .media-md({
      height: 100%;
    });

    & > h2 {
      text-align: center;
    }

    .emulator {
      @emulator-width-sm: @content-width-sm;
      @emulator-width-md: @content-width-md / 3;
      @emulator-height-sm: @emulator-width-sm * 1.8;
      @emulator-height-md: @emulator-width-md * 1.8;

      position: relative;
      & > img {
        position: absolute;
        padding: 10%;
        margin: auto;

        width: 100%;
        height: @emulator-height-sm;
        .media-md({
          height: @emulator-height-md;
        });
      }
      & > .iframe-container {

        position: absolute;
        z-index: 0;

        transform: translate(-50%,-50%);

        top: @emulator-height-sm / 2;
        left: @emulator-width-sm / 2;
        width: @emulator-width-sm;
        height: @emulator-height-sm;
        .media-md({
          top: @emulator-height-md / 2;
          left: @emulator-width-md / 2;
          width: @emulator-width-md;
          height: @emulator-height-md;
        });
        padding: 20%;

        // overflow-y: scroll;


        & > iframe {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .menu {
    height: 30%;
    .media-md({
      height: 100%;
    });

    @aditem-size-sm: @menu-width-sm / 3;
    @aditem-size-md: @menu-width-md / 3;
    & > .itemgrid {
      position: relative;
      bottom: 0;

      overflow-y: visible;
      height: auto;
      margin-bottom: 0;
      .media-md({
        position: absolute;
        overflow-y: scroll;
        height: @aditem-size-md * 3;
        margin-bottom: 3rem;
      });
    }
    .aditem {
      & > img {
        display: block;
        padding: 2px;
        margin: auto;

        height: @aditem-size-sm;
        .media-md({
          height: @aditem-size-md;
        });
      }
    }
  }
}
