@import "common.less";

#nav {
  top: 0;
  .background-menu-dark;
}

.adformat-overlap {
  .general-screen();
  .background-default;
  padding: @nav-height 0px 0px 0px;
  height: auto;

  @menu-width-sm: 100vw;
  @menu-width-md: 100vw / 4;
  @content-width-sm: 100vw;
  @content-width-md: 100vw - @menu-width-md;

  h2 {
    font-size: 36;
    padding: 1rem;
    text-align: center;
  }

  .hint-format {
    display: none;
    .media-md({
      display: block;
    });

    &.show {
      display: block;
    }
  }

  @z-higher: 2;
  .back {
    z-index: @z-higher;
    position: absolute;
    top: @nav-height;
    left: 0;
    padding: 1.5rem;
    display: none;

    &.show {
      display: block;
      .media-md({
        display: none;
      });
    }
  }
  .name-format-hidden {
    z-index: @z-higher;
    .background-default;
    font-size: 2rem;

    position: absolute;
    top: @nav-height;
    width: 100%;
    margin: 0;

    display: none;
    text-align: center;
    &.show {
      display: block;
      .media-md({
        display: none;
      });
    }
  }

  .content {
    overflow-y: scroll;
    .media-md({
      overflow-y: scroll;
    });

    height: 70%;
    .media-md({
      height: 100%;
    });

    .adinfo {
      display: none;
      .media-md({
        display: block;
      });
    }
    .mask {
      z-index: 0;

      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;

      display: block;
      .media-md({
        display: none;
      });
    }
    &.full {
      height: 100%;
      .adinfo {
        display: block;
      }
      .mask {
        display: none;
      }
    }

    .name-format {
      margin-top: 5rem;

      text-align: center;
      display: none;
      .media-md({
        text-align: left;
        display: block;
      });
    }

    .status {
      display: flex;
      width: 100%;
      justify-content: center;

      img {
        align-self: auto;
        .media-md({
          align-self: flex-start;
        });

        margin-left: .5rem;
        &.firstitem {
          margin-left: 0;
        }
      }

      .button-live {
        .button-rounded();
        align-self: flex-end;
        width: 10rem;
        display: none;
        .media-md({
          display: flex;
        });

        @color_button: #FF7E8F;
        color: @color_button;
        margin-left: auto;
        background-color: #fff;
        border: 2px solid @color_button;
      }
    }

    .description {
      overflow-y: visible;
      .media-md({
        overflow-y: scroll;
      });

      height: 50vh;
    }

    .emulator {
      @emulator-width-sm: @content-width-sm;
      @emulator-width-md: @content-width-md / 3;
      @emulator-height-sm: @emulator-width-sm * 1.8;
      @emulator-height-md: @emulator-width-md * 1.8;

      height: @emulator-height-sm;
      margin-top: 3rem;
      .media-md({
        height: @emulator-height-md;
        margin-top: 0rem;
      });

      position: relative;
      & > img {
        position: absolute;
        padding: 10%;
        margin: auto;

        width: 100%;
        height: 100%;
      }
      & > .iframe-container {

        position: absolute;
        z-index: 0;

        transform: translate(-50%,-50%);

        top: @emulator-height-sm / 2;
        left: @emulator-width-sm / 2;
        width: @emulator-width-sm;
        height: @emulator-height-sm;
        .media-md({
          top: @emulator-height-md / 2;
          left: @emulator-width-md / 2;
          width: @emulator-width-md;
          height: @emulator-height-md;
        });
        padding: 25% 13% 25% 13%;

        // overflow-y: scroll;


        & > iframe {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .menu {
    height: auto;
    .media-md({
      height: 100%;
    });

    display: none;
    &.show {
      display: block;
    }
    .media-md({
      display: block;
    });

    @aditem-size-sm: @menu-width-sm / 3;
    @aditem-size-md: @menu-width-md / 3;
    & > .itemgrid {
      position: relative;
      bottom: 0;

      overflow-y: auto;
      height: auto;
      margin-bottom: 0;
      .media-md({
        position: absolute;
        overflow-y: scroll;
        height: @aditem-size-md * 3;
        margin-bottom: 3rem;
      });
    }
    .aditem {
      & > img {
        display: block;
        padding: 2px;
        margin: auto;

        height: @aditem-size-sm;
        .media-md({
          height: @aditem-size-md;
        });
      }
    }
  }
}
