@import "lib";

body, h1 {
  font-family: 'Roboto Thin', sans-serif;
  font-weight: lighter;
}

.bgvid {
  .center-absolute();
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

.navbar-nav {
  .active:after {
    width: auto;
    border-bottom: 5px solid #fb971b;
    bottom: -10px;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
  }

  > li {
    text-align: center;
    width: auto;
    .media-md({
      width: 12vw;
    });

    > a {
      font-size: 20;

      #nav & {
        color: #fff;
        &.active{
          color: #fb971b;
        }
      }
      #nav.shrink & {
        color: rgba(0,0,0,.9);
        &.active{
          color: #f68618;
        }
      }
    }

    float: left;
    position: relative;
  }
}
@nav-padding-topbottom: 8px;
#nav {
  .def-transition(.5s ease);
  background: transparent;
  position: fixed;
  width: 100%;
  z-index: 20;
  font-family: 'Roboto', sans-serif;
  top: 15px;

  padding: @nav-padding-topbottom 40 @nav-padding-topbottom 40;

  &.shrink {
    height: auto;
    top: 0px;
    background: #f7f7f7;
  }

  @media (max-width: 500px){
    top: 10px;
  }
}
@nav-height: 52px + @nav-padding-topbottom * 2;

.background-menu-dark {
  background: #4A4A4A;
}
