.bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.navbar-nav {
  .active:after {
    @media (min-width: 991px) {
      width: auto;
    }
    @media (max-width: 991px) {
      width: 100px;
    }
    border-bottom: 5px solid #fb971b;
    bottom: -10px;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
  }

  > li {
    > a {
      #nav & {
        color: #fff;
        &.active{
          color: #fb971b;
        }
      }
      #nav.shrink & {
        color: rgba(0,0,0,.9);
        &.active{
          color: #f68618;
        }
      }
    }

    float: left;
    position: relative;
  }
}
#nav {
  background: transparent;
  position: fixed;
  width: 100%;
  z-index: 20;
  font-family: 'Roboto', sans-serif;
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
  -ms-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  top: 15px;

  &.shrink {
    height: auto;
    top: 0px;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    background: #f7f7f7;
  }

  @media (max-width: 500px){
    top: 10px;
  }
}
