//output:$1.html
//{"menu":{},"button":{},"lang":"en"}
extends ../comp/base

block style
  link(rel="stylesheet", type="text/css", href="/css/5R.css")
    
block scroll_nav_change

block script_after.

block content
  +menu("pmp")
  .about-header.header
    .container
  
  div.goal5r-overlap
    h1 精準觸及
    h4 什麼是5R
    p.description 
      | 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
    .audience
      .info
        .description
          | 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
