//output:$1.html
//{"menu":{},"button":{},"lang":"en"}
extends ../comp/base

block style
  link(rel="stylesheet", type="text/css", href="/css/5R.css")
    
block scroll_nav_change

block script_after.

block content
  +menu("pmp")
  .about-header.header
    .container
  
  div.goal5r-overlap
    h1 精準觸及
    h4 什麼是5R
    p.description 
      | 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
    .audience
      .bg
        img.pure-img(src="/img/icon/icon_gear.svg")
      .info
        h5.title
          | Right Audience
        .description
          | 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
  
  div.goal5r-timeplace
    .bg
    .info
      h5.title
        | Right Time
      .description
        | 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
      h5.title
        | Right Place
      .description
        | 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
        
  div.goal5r-contentformat
    .bg
    .info.pure-g
      .pure-u-1-1.pure-u-md-3-8
      .pure-u-1-1.pure-u-md-5-8
        h5.title
          | Right Content
        .description
          | 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
        h5.title
          | Right Format
        .description
          | 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
  
