.background-default {
  background: #f7f7f7;
}
.background-footer {
  background: #FBFBFB;
}
body,
h1 {
  font-family: 'Roboto Thin', sans-serif;
  font-weight: lighter;
}
footer {
  background: #FBFBFB;
  height: auto;
}
footer .logoaddress {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 60%;
  align-self: center;
}
footer .sitemap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vw;
}
@media screen and (min-width: 48em) {
  footer .sitemap {
    height: 25vw;
  }
}
footer .sitemap > .container {
  text-align: center;
  margin-bottom: 0rem;
}
@media screen and (min-width: 48em) {
  footer .sitemap > .container {
    margin-bottom: 2rem;
  }
}
footer .sitemap > .container .category {
  margin-bottom: 0rem;
}
@media screen and (min-width: 48em) {
  footer .sitemap > .container .category {
    margin-bottom: 2rem;
  }
}
footer .sitemap > .container .title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
  font-weight: normal;
  color: #fb971b;
  font-size: 20;
}
footer .sitemap > .container .item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14;
  margin-bottom: 1rem;
}
@media screen and (min-width: 48em) {
  footer .sitemap > .container .item {
    margin-bottom: 0;
  }
}
footer .sitemap > .container .item > a {
  width: 100%;
}
.bgvid {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}
.navbar-nav .active:after {
  width: auto;
  border-bottom: 5px solid #fb971b;
  bottom: -10px;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
}
.navbar-nav > li {
  text-align: center;
  width: auto;
  float: left;
  position: relative;
}
@media screen and (min-width: 48em) {
  .navbar-nav > li {
    width: 12vw;
  }
}
.navbar-nav > li > a {
  font-size: 20;
}
#nav .navbar-nav > li > a {
  color: #fff;
}
#nav .navbar-nav > li > a.active {
  color: #fb971b;
}
#nav.shrink .navbar-nav > li > a {
  color: rgba(0, 0, 0, 0.9);
}
#nav.shrink .navbar-nav > li > a.active {
  color: #f68618;
}
#nav {
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  background: transparent;
  position: fixed;
  width: 100%;
  z-index: 20;
  font-family: 'Roboto', sans-serif;
  top: 15px;
  padding: 8px 40 8px 40;
}
#nav .navbar-toggler {
  border-color: rgba(255, 102, 203, 0);
}
#nav .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
#nav .dropdown-item {
  color: #fff;
  background: transparent;
}
#nav.shrink {
  height: auto;
  top: 0px;
  background: #f7f7f7;
}
#nav.shrink .navbar-toggler {
  border-color: rgba(0, 0, 0, 0);
}
#nav.shrink .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
#nav.shrink .dropdown-item {
  color: #000;
  background: #f7f7f7;
}
#nav .dropdown-menu {
  background: transparent;
  border: 0;
  text-align: center;
}
@media screen and (min-width: 48em) {
  #nav .dropdown-menu {
    text-align: left;
  }
}
#nav .dropdown:hover > .dropdown-menu {
  display: block;
}
@media (max-width: 500px) {
  #nav {
    top: 10px;
  }
}
.background-menu-dark {
  background: #4A4A4A;
}
#nav {
  top: 0;
  background: #4A4A4A;
}
.goal5r-overlap {
  width: 100%;
  height: 100vh;
  background: #f7f7f7;
  padding: 68px 0px 0px 0px;
  height: auto;
}
.goal5r-overlap h1,
.goal5r-overlap h4 {
  font-weight: lighter;
  text-align: center;
}
.goal5r-overlap > .description {
  padding: 0 15vw 0 15vw;
}
.goal5r-overlap .audience {
  width: 100%;
  position: relative;
}
.goal5r-overlap .audience .bg {
  width: 100%;
  height: 40vh;
}
@media screen and (min-width: 48em) {
  .goal5r-overlap .audience .bg {
    height: 45vh;
  }
}
.goal5r-overlap .audience .bg img {
  margin: auto;
}
.goal5r-overlap .audience > .info {
  position: absolute;
  bottom: 0;
  padding: 0 30% 0 30%;
  background: #fff;
  width: 100%;
  height: auto;
}
.goal5r-overlap .audience > .info > .title {
  text-align: center;
  color: #FC981C;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.goal5r-overlap .audience > .info > .description {
  margin-bottom: 2rem;
}
.goal5r-timeplace {
  background: #f7f7f7;
  width: 100%;
  height: 100vh;
  height: auto;
  background-color: #fff;
  overflow-y: auto;
  padding-bottom: 3rem;
  position: relative;
}
.goal5r-timeplace > .info {
  padding: 0 15vw 0 15vw;
  background: #f7f7f7;
  width: 100%;
  height: auto;
}
.goal5r-timeplace > .info .title {
  color: #FC981C;
  padding-top: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}
@media screen and (min-width: 48em) {
  .goal5r-timeplace > .info .title {
    text-align: left;
  }
}
.goal5r-timeplace > .info .description {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  width: auto;
}
@media screen and (min-width: 48em) {
  .goal5r-timeplace > .info .description {
    width: 30vw;
  }
}
.goal5r-timeplace .bg {
  top: none;
  right: 0;
  bottom: 0;
  width: 100%;
  position: relative;
  height: 60vw;
  background: #f7f7f7;
  background-image: url("/img/icon/icon_5r_figure01.svg");
  background-position: right top;
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (min-width: 64em) {
  .goal5r-timeplace .bg {
    position: absolute;
    height: 90%;
    background-color: transparent;
  }
}
@media screen and (min-width: 64em) {
  .goal5r-timeplace .bg {
    position: absolute;
    height: 90%;
    background-color: transparent;
  }
}
.goal5r-contentformat {
  background: #f7f7f7;
  width: 100%;
  height: 100vh;
  height: auto;
  background-color: #fff;
  overflow-y: auto;
  padding-bottom: 3rem;
  position: relative;
}
.goal5r-contentformat > .info {
  padding: 0 15vw 0 15vw;
  width: 100%;
  height: auto;
}
.goal5r-contentformat > .info .title {
  color: #FC981C;
  padding-top: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}
@media screen and (min-width: 48em) {
  .goal5r-contentformat > .info .title {
    text-align: left;
  }
}
.goal5r-contentformat > .info .description {
  margin-bottom: 2rem;
  width: auto;
}
@media screen and (min-width: 48em) {
  .goal5r-contentformat > .info .description {
    width: 30vw;
  }
}
.goal5r-contentformat .bg {
  top: none;
  left: 0;
  bottom: 0;
  width: 100%;
  position: relative;
  height: 90vw;
  background-image: url("/img/icon/icon_5r_figure02.svg");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (min-width: 64em) {
  .goal5r-contentformat .bg {
    position: absolute;
    height: 90%;
    background-color: transparent;
    background-size: contain;
  }
}
@media screen and (min-width: 64em) {
  .goal5r-contentformat .bg {
    position: absolute;
    height: 90%;
    background-color: transparent;
    background-size: contain;
  }
}
