.background-default {
  background: #f7f7f7;
}
body,
h1 {
  font-family: 'Roboto Thin', sans-serif;
  font-weight: lighter;
}
.bgvid {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}
.navbar-nav .active:after {
  width: auto;
  border-bottom: 5px solid #fb971b;
  bottom: -10px;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
}
.navbar-nav > li {
  text-align: center;
  width: auto;
  float: left;
  position: relative;
}
@media screen and (min-width: 48em) {
  .navbar-nav > li {
    width: 12vw;
  }
}
.navbar-nav > li > a {
  font-size: 20;
}
#nav .navbar-nav > li > a {
  color: #fff;
}
#nav .navbar-nav > li > a.active {
  color: #fb971b;
}
#nav.shrink .navbar-nav > li > a {
  color: rgba(0, 0, 0, 0.9);
}
#nav.shrink .navbar-nav > li > a.active {
  color: #f68618;
}
#nav {
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  background: transparent;
  position: fixed;
  width: 100%;
  z-index: 20;
  font-family: 'Roboto', sans-serif;
  top: 15px;
  padding: 8px 40 8px 40;
}
#nav.shrink {
  height: auto;
  top: 0px;
  background: #f7f7f7;
}
@media (max-width: 500px) {
  #nav {
    top: 10px;
  }
}
.background-menu-dark {
  background: #4A4A4A;
}
.about-header {
  overflow: hidden;
}
.about-overlap {
  background: #f7f7f7;
  width: 100%;
  height: 100vh;
  background: #0006;
  padding: 150px 0px 0px 0px;
  color: #fff;
}
.about-overlap .indented {
  padding-left: 40px;
}
.about-overlap > h1 {
  font-size: 2.5em;
  padding-bottom: 1.5rem;
}
.about-overlap > h1,
.about-overlap > p {
  padding-left: 40px;
}
.about-feature {
  background: #f7f7f7;
  width: 100%;
  height: 100vh;
  height: auto;
  padding-bottom: 3rem;
  text-align: center;
}
.about-feature .content .title {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 1rem;
}
.about-feature .content .description {
  font-size: 1.2em;
  font-weight: normal;
  padding: 0 20% 0 20%;
  padding-bottom: 1rem;
}
.about-feature .content img {
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.about-milestone {
  background: #f7f7f7;
  width: 100%;
  height: 100vh;
  height: auto;
  padding-bottom: 3rem;
  text-align: center;
  position: relative;
  background-color: #FACC93;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 48em) {
  .about-milestone {
    background: #f7f7f7;
  }
}
.about-milestone .bg {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0%;
  width: 100%;
  background-image: none;
  background-position: 100% 0%;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 48em) {
  .about-milestone .bg {
    background-image: url("/img/bg/bg_aboutus_timeline.png");
  }
}
.about-milestone .content .title {
  padding-top: 60px;
  padding-bottom: 1rem;
}
.about-milestone .content .process-md {
  display: none;
  margin: auto;
  width: 80%;
  padding-bottom: 2rem;
}
@media screen and (min-width: 48em) {
  .about-milestone .content .process-md {
    display: block;
  }
}
.about-milestone .content .process {
  display: block;
  margin: auto;
  width: 50%;
  padding-bottom: 2rem;
}
@media screen and (min-width: 48em) {
  .about-milestone .content .process {
    display: none;
  }
}
.about-member {
  background: #f7f7f7;
  width: 100%;
  height: 100vh;
  height: auto;
  padding: 3rem;
}
.about-member .content {
  text-align: center;
}
.about-member .content > .title {
  margin-bottom: 3rem;
}
.about-member .content img {
  margin: auto;
}
.about-member .content .vip {
  text-align: left;
}
.about-member .content .vip .person {
  padding: 1rem;
  background-color: #fff;
  margin-bottom: 2rem;
}
@media screen and (min-width: 48em) {
  .about-member .content .vip .person {
    background-color: transparent;
  }
}
.about-member .content .vip .person .text {
  padding: 0rem;
}
@media screen and (min-width: 48em) {
  .about-member .content .vip .person .text {
    padding: 1rem;
  }
}
.about-member .content .vip .person .description {
  width: 100%;
}
@media screen and (min-width: 48em) {
  .about-member .content .vip .person .description {
    width: 50%;
  }
}
.about-investor {
  background: #f7f7f7;
  width: 100%;
  height: 100vh;
  height: 170vh;
  text-align: center;
  position: relative;
}
@media screen and (min-width: 48em) {
  .about-investor {
    height: 80vh;
  }
}
.about-investor .bg {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0%;
  width: 100%;
  background-color: #fff;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about-investor .bg > img {
  margin-left: auto;
  width: 98%;
  height: 100%;
  display: none;
}
@media screen and (min-width: 64em) {
  .about-investor .bg > img {
    display: block;
  }
}
@media screen and (min-width: 64em) {
  .about-investor .bg > img {
    display: block;
  }
}
.about-investor .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
@media screen and (min-width: 48em) {
  .about-investor .content {
    top: 50%;
  }
}
.about-investor .content .title {
  padding-bottom: 1rem;
}
@media screen and (min-width: 48em) {
  .about-investor .content .title {
    padding-bottom: 1rem;
  }
}
.about-investor .content .description {
  padding: 0 15vw 0 15vw;
}
.about-investor .content > .pure-g {
  padding: 0 10% 0 10%;
}
.about-investor .content > .pure-g > div {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
}
.about-investor .content > .pure-g > div .logo {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
  height: 5rem;
  padding: auto 0 auto 0;
  margin-bottom: 2rem;
}
.about-investor .content > .pure-g > div .logo img {
  margin: auto;
}
