.background-default {
  background: #f7f7f7;
}
.background-footer {
  background: #FBFBFB;
}
body,
h1 {
  font-family: 'Roboto Thin', sans-serif;
  font-weight: lighter;
}
footer {
  background: #FBFBFB;
  height: auto;
}
footer .logoaddress {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 60%;
  align-self: center;
}
footer .sitemap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vw;
}
@media screen and (min-width: 48em) {
  footer .sitemap {
    height: 25vw;
  }
}
footer .sitemap > .container {
  text-align: center;
  margin-bottom: 0rem;
}
@media screen and (min-width: 48em) {
  footer .sitemap > .container {
    margin-bottom: 2rem;
  }
}
footer .sitemap > .container .category {
  margin-bottom: 0rem;
}
@media screen and (min-width: 48em) {
  footer .sitemap > .container .category {
    margin-bottom: 2rem;
  }
}
footer .sitemap > .container .title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
  font-weight: normal;
  color: #fb971b;
  font-size: 20;
}
footer .sitemap > .container .item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14;
  margin-bottom: 1rem;
}
@media screen and (min-width: 48em) {
  footer .sitemap > .container .item {
    margin-bottom: 0;
  }
}
footer .sitemap > .container .item > a {
  width: 100%;
}
.bgvid {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}
.navbar-nav .active:after {
  width: auto;
  border-bottom: 5px solid #fb971b;
  bottom: -10px;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
}
.navbar-nav > li {
  text-align: center;
  width: auto;
  float: left;
  position: relative;
}
@media screen and (min-width: 48em) {
  .navbar-nav > li {
    width: 12vw;
  }
}
.navbar-nav > li > a {
  font-size: 20;
}
#nav .navbar-nav > li > a {
  color: #fff;
}
#nav .navbar-nav > li > a.active {
  color: #fb971b;
}
#nav.shrink .navbar-nav > li > a {
  color: rgba(0, 0, 0, 0.9);
}
#nav.shrink .navbar-nav > li > a.active {
  color: #f68618;
}
#nav {
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  background: transparent;
  position: fixed;
  width: 100%;
  z-index: 20;
  font-family: 'Roboto', sans-serif;
  top: 15px;
  padding: 8px 40 8px 40;
}
#nav.shrink {
  height: auto;
  top: 0px;
  background: #f7f7f7;
}
@media (max-width: 500px) {
  #nav {
    top: 10px;
  }
}
.background-menu-dark {
  background: #4A4A4A;
}
#nav {
  top: 0;
  background: #4A4A4A;
}
.adformat-overlap {
  width: 100%;
  height: 100vh;
  background: #f7f7f7;
  padding: 68px 0px 0px 0px;
}
.adformat-overlap h2 {
  font-size: 36;
  padding: 1rem;
  text-align: center;
}
.adformat-overlap .hint-format {
  display: none;
}
@media screen and (min-width: 48em) {
  .adformat-overlap .hint-format {
    display: block;
  }
}
.adformat-overlap .hint-format.show {
  display: block;
}
.adformat-overlap .back {
  z-index: 2;
  position: absolute;
  top: 68px;
  left: 0;
  padding: 1.5rem;
  display: none;
}
.adformat-overlap .back.show {
  display: block;
}
@media screen and (min-width: 48em) {
  .adformat-overlap .back.show {
    display: none;
  }
}
.adformat-overlap .name-format-hidden {
  z-index: 2;
  background: #f7f7f7;
  position: absolute;
  top: 68px;
  width: 100%;
  margin: 0;
  display: none;
  text-align: center;
}
.adformat-overlap .name-format-hidden.show {
  display: block;
}
@media screen and (min-width: 48em) {
  .adformat-overlap .name-format-hidden.show {
    display: none;
  }
}
.adformat-overlap .content {
  overflow-y: scroll;
  height: 70%;
}
@media screen and (min-width: 48em) {
  .adformat-overlap .content {
    overflow-y: scroll;
  }
}
@media screen and (min-width: 48em) {
  .adformat-overlap .content {
    height: 100%;
  }
}
.adformat-overlap .content .adinfo {
  display: none;
}
@media screen and (min-width: 48em) {
  .adformat-overlap .content .adinfo {
    display: block;
  }
}
.adformat-overlap .content .mask {
  z-index: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: block;
}
@media screen and (min-width: 48em) {
  .adformat-overlap .content .mask {
    display: none;
  }
}
.adformat-overlap .content.full {
  height: 100%;
}
.adformat-overlap .content.full .adinfo {
  display: block;
}
.adformat-overlap .content.full .mask {
  display: none;
}
.adformat-overlap .content .name-format {
  margin-top: 5rem;
  text-align: center;
}
@media screen and (min-width: 48em) {
  .adformat-overlap .content .name-format {
    text-align: left;
  }
}
.adformat-overlap .content .status {
  display: inline-flex;
  width: 100%;
}
.adformat-overlap .content .status img {
  align-self: flex-start;
  margin-left: .5rem;
}
.adformat-overlap .content .status img.firstitem {
  margin-left: 0;
}
.adformat-overlap .content .status .button-live {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  width: 200px;
  height: 35px;
  align-self: flex-end;
  width: 10rem;
  color: #FF7E8F;
  margin-left: auto;
  background-color: #fff;
  border: 2px solid #FF7E8F;
}
.adformat-overlap .content .description {
  overflow-y: visible;
  height: 50vh;
}
@media screen and (min-width: 48em) {
  .adformat-overlap .content .description {
    overflow-y: scroll;
  }
}
.adformat-overlap .content .emulator {
  height: 180vw;
  margin-top: 3rem;
  position: relative;
}
@media screen and (min-width: 48em) {
  .adformat-overlap .content .emulator {
    height: 45vw;
    margin-top: 0rem;
  }
}
.adformat-overlap .content .emulator > img {
  position: absolute;
  padding: 10%;
  margin: auto;
  width: 100%;
  height: 100%;
}
.adformat-overlap .content .emulator > .iframe-container {
  position: absolute;
  z-index: 0;
  transform: translate(-50%, -50%);
  top: 90vw;
  left: 50vw;
  width: 100vw;
  height: 180vw;
  padding: 25% 13% 25% 13%;
}
@media screen and (min-width: 48em) {
  .adformat-overlap .content .emulator > .iframe-container {
    top: 22.5vw;
    left: 12.5vw;
    width: 25vw;
    height: 45vw;
  }
}
.adformat-overlap .content .emulator > .iframe-container > iframe {
  width: 100%;
  height: 100%;
}
.adformat-overlap .menu {
  height: 30%;
  display: none;
}
@media screen and (min-width: 48em) {
  .adformat-overlap .menu {
    height: 100%;
  }
}
.adformat-overlap .menu.show {
  display: block;
}
@media screen and (min-width: 48em) {
  .adformat-overlap .menu {
    display: block;
  }
}
.adformat-overlap .menu > .itemgrid {
  position: relative;
  bottom: 0;
  overflow-y: visible;
  height: auto;
  margin-bottom: 0;
}
@media screen and (min-width: 48em) {
  .adformat-overlap .menu > .itemgrid {
    position: absolute;
    overflow-y: scroll;
    height: 25vw;
    margin-bottom: 3rem;
  }
}
.adformat-overlap .menu .aditem > img {
  display: block;
  padding: 2px;
  margin: auto;
  height: 33.33333333vw;
}
@media screen and (min-width: 48em) {
  .adformat-overlap .menu .aditem > img {
    height: 8.33333333vw;
  }
}
