.background-default {
  background: #f7f7f7;
}
.background-footer {
  background: #FBFBFB;
}
body,
h1 {
  font-family: 'Roboto Thin', sans-serif;
  font-weight: lighter;
}
.footer-hr-container {
  background: #f7f7f7;
  padding-top: 3rem;
}
.footer-hr-container .footer-hr {
  height: 2px;
  background: #333;
}
footer {
  background: #FBFBFB;
  height: auto;
}
footer .logoaddress {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 60%;
  align-self: center;
}
footer .sitemap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vw;
}
@media screen and (min-width: 48em) {
  footer .sitemap {
    height: 25vw;
  }
}
footer .sitemap > .container {
  text-align: center;
  margin-bottom: 0rem;
}
@media screen and (min-width: 48em) {
  footer .sitemap > .container {
    margin-bottom: 2rem;
  }
}
footer .sitemap > .container .category {
  margin-bottom: 0rem;
}
@media screen and (min-width: 48em) {
  footer .sitemap > .container .category {
    margin-bottom: 2rem;
  }
}
footer .sitemap > .container .title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
  font-weight: normal;
  color: #fb971b;
  font-size: 20;
}
footer .sitemap > .container .item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14;
  margin-bottom: 1rem;
}
@media screen and (min-width: 48em) {
  footer .sitemap > .container .item {
    margin-bottom: 0;
  }
}
footer .sitemap > .container .item > a {
  width: 100%;
}
.bgvid {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}
.navbar-nav .active:after {
  width: auto;
  border-bottom: 5px solid #fb971b;
  bottom: -10px;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
}
.navbar-nav > li {
  text-align: center;
  width: auto;
  float: left;
  position: relative;
}
@media screen and (min-width: 48em) {
  .navbar-nav > li {
    width: 12vw;
  }
}
.navbar-nav > li > a {
  font-size: 20;
}
#nav .navbar-nav > li > a {
  color: rgba(0, 0, 0, 0.9);
}
#nav .navbar-nav > li > a.active {
  color: #fb971b;
}
@media screen and (min-width: 992px) {
  #nav .navbar-nav > li > a {
    color: #fff;
  }
}
@media screen and (min-width: 64em) {
  #nav .navbar-nav > li > a {
    color: #fff;
  }
}
#nav.shrink .navbar-nav > li > a.active {
  color: #f68618;
}
@media screen and (min-width: 992px) {
  #nav.shrink .navbar-nav > li > a {
    color: rgba(0, 0, 0, 0.9);
  }
}
@media screen and (min-width: 64em) {
  #nav.shrink .navbar-nav > li > a {
    color: rgba(0, 0, 0, 0.9);
  }
}
#nav {
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  background: transparent;
  position: fixed;
  width: 100%;
  z-index: 20;
  font-family: 'Roboto', sans-serif;
  top: 15px;
  padding: 8px 10 8px 10;
}
@media screen and (min-width: 35.5em) {
  #nav {
    padding: 8px 40 8px 40;
  }
}
#nav .navbar-toggler {
  border-color: rgba(255, 102, 203, 0);
}
#nav .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
#nav .dropdown-item {
  color: #fff;
  background: transparent;
}
#nav .lang {
  color: #fff;
}
#nav.shrink {
  height: auto;
  top: 0px;
  background: #f7f7f7;
}
#nav.shrink .navbar-toggler {
  border-color: rgba(0, 0, 0, 0);
}
#nav.shrink .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
#nav.shrink .dropdown-item {
  color: #000;
  background: #f7f7f7;
}
#nav.shrink .lang {
  color: #000;
}
#nav .dropdown-menu {
  background: transparent;
  border: 0;
  text-align: center;
}
@media screen and (min-width: 48em) {
  #nav .dropdown-menu {
    text-align: left;
  }
}
#nav .dropdown:hover > .dropdown-menu {
  display: block;
}
#nav #navbarNav {
  flex-grow: unset;
  margin-left: auto;
  background: #f7f7f7;
}
@media screen and (min-width: 992px) {
  #nav #navbarNav {
    background-color: transparent;
  }
}
@media screen and (min-width: 64em) {
  #nav #navbarNav {
    background-color: transparent;
  }
}
#nav .navbar-brand img {
  height: 31.5px;
}
@media screen and (min-width: 35.5em) {
  #nav .navbar-brand img {
    height: 42px;
  }
}
#nav .lang-block {
  width: 150px;
}
#nav .lang-block.desktop {
  display: none;
}
@media screen and (min-width: 992px) {
  #nav .lang-block.desktop {
    display: block;
  }
}
@media screen and (min-width: 64em) {
  #nav .lang-block.desktop {
    display: block;
  }
}
#nav .lang-block.mobile {
  display: block;
  margin-left: auto;
}
@media screen and (min-width: 992px) {
  #nav .lang-block.mobile {
    display: none;
  }
}
@media screen and (min-width: 64em) {
  #nav .lang-block.mobile {
    display: none;
  }
}
#nav .lang-block .lang {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  width: 200px;
  height: 35px;
  width: 50%;
  float: left;
  background-color: transparent;
  border-radius: 0px;
}
#nav .lang-block .lang.active {
  color: #f68618;
  border-radius: 35px;
  background-color: #0009;
}
@media (max-width: 500px) {
  #nav {
    top: 10px;
  }
}
.background-menu-dark {
  background: #4A4A4A;
}
.pmp-header {
  overflow: hidden;
}
.pmp-overlap {
  background: #f7f7f7;
  width: 100%;
  height: 100vh;
  min-height: 500px;
  background: #0006;
  padding: 150px 0px 0px 0px;
  color: #fff;
  position: relative;
}
.pmp-overlap .indented {
  padding-left: 40px;
  padding-right: 40px;
}
.pmp-overlap .title {
  font-size: 2.5em;
  padding-bottom: 1.5rem;
}
.pmp-overlap .description {
  max-width: 400px;
}
.pmp-overlap .title,
.pmp-overlap .description {
  padding-left: 40px;
  padding-right: 40px;
}
.pmp-overlap .bg {
  position: absolute;
  bottom: 0;
  height: 300px;
  width: calc(100%);
  background-image: url("/img/bg/bg_under_header_pmp.png");
  background-position: 0% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.pmp-format {
  background: #f7f7f7;
  width: 100%;
  height: 100vh;
  height: auto;
  padding-top: 2rem;
  padding-bottom: 3rem;
  text-align: center;
}
.pmp-format .content .button {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  width: 200px;
  height: 35px;
  margin: 1rem auto 0 auto;
  background-color: #FC981C;
}
.pmp-format .content .description {
  padding: 0 15vw 0 15vw;
}
.pmp-format .content .gif {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.pmp-format .content .gif .bg {
  align-self: center;
}
.pmp-format .content .gif .animation {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  padding: 4%;
}
.pmp-format .content #showcase-adformat-sm {
  margin-bottom: 30px;
  display: block;
}
.pmp-format .content #showcase-adformat-sm .carousel-indicators {
  bottom: -30px;
}
.pmp-format .content #showcase-adformat-sm .carousel-indicators li {
  border-radius: 10px;
  margin: 1px 3px;
  height: 10px;
  max-width: 10px;
  border: 1px solid #D8D8D8;
  background-color: transparent;
}
.pmp-format .content #showcase-adformat-sm .carousel-indicators .active {
  background-color: #D8D8D8;
  max-width: 12px;
  margin: 0 3px;
  height: 12px;
}
@media screen and (min-width: 48em) {
  .pmp-format .content #showcase-adformat-sm {
    display: none;
  }
}
.pmp-format .content #showcase-adformat-md {
  display: none;
}
@media screen and (min-width: 48em) {
  .pmp-format .content #showcase-adformat-md {
    display: block;
  }
}
.pmp-format .content .carousel {
  width: 100vw;
}
.pmp-format .content .carousel .carousel-control-next-icon {
  background-image: url("/img/comp/btn_arrow_r_b.svg");
  height: 60px;
  width: 40px;
}
.pmp-format .content .carousel .carousel-control-prev-icon {
  background-image: url("/img/comp/btn_arrow_l_b.svg");
  height: 60px;
  width: 40px;
}
.pmp-format .content .carousel .carousel-item > .pure-g {
  padding: 0 10% 0 10%;
}
.pmp-format .content .carousel .carousel-item > .pure-g > div {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
  padding: 10px;
}
.pmp-format .content .carousel .carousel-item > .pure-g > div img {
  margin: auto 0;
}
.pmp-format .content .carousel .carousel-item > .pure-g > div .title {
  margin: auto;
  width: 100%;
}
.pmp-nice-media {
  background: #f7f7f7;
  width: 100%;
  height: 100vh;
  height: 1000px;
  padding-bottom: 1rem;
  color: #fff;
  text-align: center;
  position: relative;
}
@media screen and (min-width: 48em) {
  .pmp-nice-media {
    height: 700px;
  }
}
.pmp-nice-media .bg {
  position: absolute;
  top: 0;
  left: 0%;
  height: 100%;
  width: 100%;
  background-image: url("/img/bg/bg_nice_media.png");
  background-position: 1% 100%;
  background-size: auto 1400px;
  background-repeat: no-repeat;
}
@media screen and (min-width: 48em) {
  .pmp-nice-media .bg {
    height: 100%;
    width: 100%;
    background-position: 1% 100%;
    background-size: auto 850px;
  }
}
.pmp-nice-media .bg > img {
  width: 100%;
  height: 100%;
  display: none;
}
@media screen and (min-width: 992px) {
  .pmp-nice-media .bg > img {
    display: block;
  }
}
@media screen and (min-width: 64em) {
  .pmp-nice-media .bg > img {
    display: block;
  }
}
.pmp-nice-media .content {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  width: 100%;
}
@media screen and (min-width: 48em) {
  .pmp-nice-media .content {
    top: 60%;
  }
}
@media screen and (min-width: 992px) {
  .pmp-nice-media .content {
    top: 50%;
  }
}
@media screen and (min-width: 64em) {
  .pmp-nice-media .content {
    top: 50%;
  }
}
.pmp-nice-media .content .title {
  padding-bottom: 1rem;
}
@media screen and (min-width: 48em) {
  .pmp-nice-media .content .title {
    padding-bottom: 1rem;
  }
}
.pmp-nice-media .content .description {
  padding: 0 15vw 0 15vw;
}
.pmp-nice-media .content .carousel {
  width: 100vw;
  height: 600px;
}
@media screen and (min-width: 48em) {
  .pmp-nice-media .content .carousel {
    height: 300px;
  }
}
.pmp-nice-media .content .carousel .carousel-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pmp-nice-media .content .carousel .carousel-control-next-icon {
  background-image: url("/img/comp/btn_arrow_r_w.svg");
  height: 60px;
  width: 40px;
}
.pmp-nice-media .content .carousel .carousel-control-prev-icon {
  background-image: url("/img/comp/btn_arrow_l_w.svg");
  height: 60px;
  width: 40px;
}
.pmp-nice-media .content .carousel .carousel-item > .pure-g {
  padding: 0 10% 0 10%;
}
.pmp-nice-media .content .carousel .carousel-item > .pure-g > div {
  display: flex;
  text-align: center;
  justify-content: center;
}
.pmp-nice-media .content .carousel .carousel-item > .pure-g > div img {
  margin: auto auto;
  padding: 10%;
}
.pmp-5r {
  background: #f7f7f7;
  width: 100%;
  height: 100vh;
  height: auto;
  padding-bottom: 3rem;
  text-align: center;
}
.pmp-5r .content .title {
  padding-top: 60px;
  padding-bottom: 1rem;
}
.pmp-5r .content .description {
  padding: 0 15vw 0 15vw;
}
.pmp-5r .content .icon5r {
  display: block;
  margin: auto;
  width: 80%;
  padding-bottom: 2rem;
}
.pmp-5r .content .desktop {
  display: none;
}
@media screen and (min-width: 48em) {
  .pmp-5r .content .desktop {
    display: block;
  }
}
.pmp-5r .content .mobile {
  display: block;
}
@media screen and (min-width: 48em) {
  .pmp-5r .content .mobile {
    display: none;
  }
}
.pmp-5r .content .button {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  width: 200px;
  height: 35px;
  margin: auto;
  background-color: #FC981C;
}
.pmp-partner {
  background: #f7f7f7;
  width: 100%;
  height: 100vh;
  height: 700px;
  color: #fff;
  text-align: center;
  position: relative;
}
@media screen and (min-width: 48em) {
  .pmp-partner {
    height: 700px;
  }
}
.pmp-partner .bg {
  position: absolute;
  top: 0;
  right: 2%;
  height: 100%;
  width: 98%;
  background-image: url("/img/bg/bg_partner.svg");
  background-position: 99% 0%;
  background-size: auto 800px;
  background-repeat: no-repeat;
}
@media screen and (min-width: 48em) {
  .pmp-partner .bg {
    background-position: 100% 0%;
    background-size: auto 800px;
  }
}
.pmp-partner .bg > img {
  width: 100%;
  height: 100%;
  display: none;
}
@media screen and (min-width: 992px) {
  .pmp-partner .bg > img {
    display: block;
  }
}
@media screen and (min-width: 64em) {
  .pmp-partner .bg > img {
    display: block;
  }
}
.pmp-partner .content {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  width: 100%;
}
@media screen and (min-width: 48em) {
  .pmp-partner .content {
    top: 40%;
  }
}
@media screen and (min-width: 992px) {
  .pmp-partner .content {
    top: 40%;
  }
}
@media screen and (min-width: 64em) {
  .pmp-partner .content {
    top: 40%;
  }
}
.pmp-partner .content .title {
  padding-bottom: 1rem;
}
@media screen and (min-width: 48em) {
  .pmp-partner .content .title {
    padding-bottom: 1rem;
  }
}
.pmp-partner .content .description {
  padding: 0 15vw 0 15vw;
}
.pmp-partner .content > .pure-g {
  padding: 0 10% 0 10%;
}
.pmp-partner .content > .pure-g > div {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
  padding: 10px;
}
.pmp-partner .content > .pure-g > div > img {
  object-fit: contain;
  height: 100px;
  margin-bottom: 2rem;
}
.pmp-partner .content > .pure-g > div > p {
  display: none;
}
.pmp-customer {
  background: #f7f7f7;
  width: 100%;
  height: 100vh;
  height: 1600px;
  padding-bottom: 1rem;
  text-align: center;
  position: relative;
}
@media screen and (min-width: 48em) {
  .pmp-customer {
    height: 900px;
  }
}
.pmp-customer .bg {
  position: absolute;
  top: 0;
  left: 0%;
  height: 100%;
  width: 100%;
  background-image: url("/img/bg/bg_customer.png");
  background-position: 1% 100%;
  background-size: auto 2200px;
  background-repeat: no-repeat;
}
@media screen and (min-width: 48em) {
  .pmp-customer .bg {
    background-position: 0% 100%;
    background-size: auto 1000px;
  }
}
.pmp-customer .bg > img {
  width: 100%;
  height: 100%;
  display: none;
}
@media screen and (min-width: 992px) {
  .pmp-customer .bg > img {
    display: block;
  }
}
@media screen and (min-width: 64em) {
  .pmp-customer .bg > img {
    display: block;
  }
}
.pmp-customer .content {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  width: 100%;
}
@media screen and (min-width: 48em) {
  .pmp-customer .content {
    top: 45%;
  }
}
.pmp-customer .content .title {
  padding-bottom: 1rem;
}
@media screen and (min-width: 48em) {
  .pmp-customer .content .title {
    padding-bottom: 1rem;
  }
}
.pmp-customer .content .description {
  padding: 0 15vw 0 15vw;
}
.pmp-customer .content .carousel-indicators {
  bottom: none;
  position: relative;
}
.pmp-customer .content .carousel-indicators > li.active::after {
  background-color: #000;
}
.pmp-customer .content .carousel-indicators > li::after {
  height: 5px;
  background-color: transparent;
}
.pmp-customer .content .carousel-indicators li {
  text-indent: 0;
  width: auto;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin-bottom: 1rem;
}
@media screen and (min-width: 48em) {
  .pmp-customer .content .carousel-indicators li {
    width: 10%;
    margin-bottom: 0rem;
  }
}
.pmp-customer .content .carousel {
  width: 100vw;
  height: 60vh;
}
@media screen and (min-width: 48em) {
  .pmp-customer .content .carousel {
    height: 30vh;
  }
}
.pmp-customer .content .carousel .carousel-control-next-icon {
  background-image: url("/img/comp/btn_arrow_r_b.svg");
  height: 60px;
  width: 40px;
}
.pmp-customer .content .carousel .carousel-control-prev-icon {
  background-image: url("/img/comp/btn_arrow_l_b.svg");
  height: 60px;
  width: 40px;
}
.pmp-customer .content .carousel .carousel-item > .pure-g {
  padding: 0 10% 0 10%;
}
.pmp-customer .content .carousel .carousel-item > .pure-g > div {
  display: flex;
  text-align: center;
  justify-content: center;
}
.pmp-customer .content .carousel .carousel-item > .pure-g > div img {
  margin: auto auto;
  padding: 10%;
  object-fit: contain;
  max-height: 150px;
  max-width: 100%;
}
.pmp-contact-us-hr-container {
  background: #f7f7f7;
  padding-top: 3rem;
}
.pmp-contact-us-hr-container .pmp-contact-us-hr {
  height: 2px;
  background: #333;
}
.pmp-contact-us {
  background: #FBFBFB;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.pmp-contact-us hr {
  margin-left: 8%;
  margin-right: 8%;
}
.pmp-contact-us .button {
  color: #FF7E8F;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  width: 200px;
  height: 35px;
  margin: auto;
  background-color: #fff;
  border: 2px solid #FF7E8F;
}
