.background-default {
  background: #f7f7f7;
}
.hr {
  width: 100%;
  height: 1px;
}
.pmp-header {
  overflow: hidden;
}
.pmp-overlap {
  background: #f7f7f7;
  width: 100%;
  height: 100vh;
  background: #0006;
  padding: 150px 0px 0px 0px;
  color: #fff;
  position: relative;
}
.pmp-overlap .indented {
  padding-left: 40px;
}
.pmp-overlap > h1 {
  padding-bottom: 1.5rem;
}
.pmp-overlap > h1,
.pmp-overlap > p {
  padding-left: 40px;
}
.pmp-overlap .bg {
  position: absolute;
  bottom: 0;
  height: 300px;
  width: calc(100%);
  background-image: url("/img/bg_under_header_pmp.png");
  background-position: 0% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.pmp-format {
  background: #f7f7f7;
  width: 100%;
  height: 100vh;
  height: auto;
  padding-top: 2rem;
  padding-bottom: 3rem;
  text-align: center;
}
.pmp-format .content .button {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  width: 200px;
  height: 35px;
  margin: auto;
  background-color: #FC981C;
}
.pmp-format .content .carousel {
  width: 100vw;
}
.pmp-format .content .carousel .carousel-control-next-icon {
  background-image: url("/img/comp/btn_arrow_r_b.svg");
  height: 60px;
  width: 40px;
}
.pmp-format .content .carousel .carousel-control-prev-icon {
  background-image: url("/img/comp/btn_arrow_l_b.svg");
  height: 60px;
  width: 40px;
}
.pmp-format .content .carousel .carousel-item > .pure-g {
  padding: 0 10% 0 10%;
}
.pmp-format .content .carousel .carousel-item > .pure-g > div {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
}
.pmp-nice-media {
  background: #f7f7f7;
  width: 100%;
  height: 100vh;
  height: 130vh;
  padding-bottom: 1rem;
  color: #fff;
  text-align: center;
  position: relative;
}
@media screen and (min-width: 48em) {
  .pmp-nice-media {
    height: 80vh;
  }
}
.pmp-nice-media .bg {
  position: absolute;
  top: 0;
  left: 2%;
  height: 100%;
  width: 98%;
  background-image: url("/img/bg_nice_media.png");
  background-position: 0% 0%;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 64em) {
  .pmp-nice-media .bg {
    background-image: none;
  }
}
@media screen and (min-width: 64em) {
  .pmp-nice-media .bg {
    background-image: none;
  }
}
.pmp-nice-media .bg > img {
  width: 100%;
  height: 100%;
  display: none;
}
@media screen and (min-width: 64em) {
  .pmp-nice-media .bg > img {
    display: block;
  }
}
@media screen and (min-width: 64em) {
  .pmp-nice-media .bg > img {
    display: block;
  }
}
.pmp-nice-media .content {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  width: 100%;
}
@media screen and (min-width: 48em) {
  .pmp-nice-media .content {
    top: 50%;
  }
}
.pmp-nice-media .content .title {
  padding-bottom: 1rem;
}
@media screen and (min-width: 48em) {
  .pmp-nice-media .content .title {
    padding-bottom: 1rem;
  }
}
.pmp-nice-media .content .description {
  padding: 0 15vw 0 15vw;
}
.pmp-nice-media .content .carousel {
  width: 100vw;
  height: 60vh;
}
@media screen and (min-width: 48em) {
  .pmp-nice-media .content .carousel {
    height: 30vh;
  }
}
.pmp-nice-media .content .carousel .carousel-control-next-icon {
  background-image: url("/img/comp/btn_arrow_r_w.svg");
  height: 60px;
  width: 40px;
}
.pmp-nice-media .content .carousel .carousel-control-prev-icon {
  background-image: url("/img/comp/btn_arrow_l_w.svg");
  height: 60px;
  width: 40px;
}
.pmp-nice-media .content .carousel .carousel-item > .pure-g {
  padding: 0 10% 0 10%;
}
.pmp-nice-media .content .carousel .carousel-item > .pure-g > div {
  display: flex;
  text-align: center;
  justify-content: center;
}
.pmp-nice-media .content .carousel .carousel-item > .pure-g > div img {
  margin: auto auto;
}
.pmp-5r {
  background: #f7f7f7;
  width: 100%;
  height: 100vh;
  height: auto;
  padding-bottom: 3rem;
  text-align: center;
}
.pmp-5r .content .title {
  padding-top: 60px;
  padding-bottom: 1rem;
}
.pmp-5r .content .description {
  padding: 0 15vw 0 15vw;
}
.pmp-5r .content .icon5r {
  display: block;
  margin: auto;
  width: 80%;
  padding-bottom: 2rem;
}
.pmp-5r .content .button {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  width: 200px;
  height: 35px;
  margin: auto;
  background-color: #FC981C;
}
.pmp-partner {
  background: #f7f7f7;
  width: 100%;
  height: 100vh;
  height: 150vh;
  color: #fff;
  text-align: center;
  position: relative;
}
@media screen and (min-width: 48em) {
  .pmp-partner {
    height: 80vh;
  }
}
.pmp-partner .bg {
  position: absolute;
  top: 0;
  right: 2%;
  height: 100%;
  width: 98%;
  background-image: url("/img/bg_partner.png");
  background-position: 100% 0%;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 64em) {
  .pmp-partner .bg {
    background-image: none;
  }
}
@media screen and (min-width: 64em) {
  .pmp-partner .bg {
    background-image: none;
  }
}
.pmp-partner .bg > img {
  width: 100%;
  height: 100%;
  display: none;
}
@media screen and (min-width: 64em) {
  .pmp-partner .bg > img {
    display: block;
  }
}
@media screen and (min-width: 64em) {
  .pmp-partner .bg > img {
    display: block;
  }
}
.pmp-partner .content {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  width: 100%;
}
@media screen and (min-width: 48em) {
  .pmp-partner .content {
    top: 50%;
  }
}
.pmp-partner .content .title {
  padding-bottom: 1rem;
}
@media screen and (min-width: 48em) {
  .pmp-partner .content .title {
    padding-bottom: 1rem;
  }
}
.pmp-partner .content .description {
  padding: 0 15vw 0 15vw;
}
.pmp-partner .content > .pure-g {
  padding: 0 10% 0 10%;
}
.pmp-partner .content > .pure-g > div {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
}
.pmp-partner .content > .pure-g > div > img {
  margin-bottom: 2rem;
}
.pmp-customer {
  background: #f7f7f7;
  width: 100%;
  height: 100vh;
  height: 130vh;
  padding-bottom: 1rem;
  text-align: center;
  position: relative;
}
@media screen and (min-width: 48em) {
  .pmp-customer {
    height: 80vh;
  }
}
.pmp-customer .bg {
  position: absolute;
  top: 0;
  left: 2%;
  height: 100%;
  width: 98%;
  background-image: url("/img/bg_customer.png");
  background-position: 0% 0%;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 64em) {
  .pmp-customer .bg {
    background-image: none;
  }
}
@media screen and (min-width: 64em) {
  .pmp-customer .bg {
    background-image: none;
  }
}
.pmp-customer .bg > img {
  width: 100%;
  height: 100%;
  display: none;
}
@media screen and (min-width: 64em) {
  .pmp-customer .bg > img {
    display: block;
  }
}
@media screen and (min-width: 64em) {
  .pmp-customer .bg > img {
    display: block;
  }
}
.pmp-customer .content {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  width: 100%;
}
@media screen and (min-width: 48em) {
  .pmp-customer .content {
    top: 50%;
  }
}
.pmp-customer .content .title {
  padding-bottom: 1rem;
}
@media screen and (min-width: 48em) {
  .pmp-customer .content .title {
    padding-bottom: 1rem;
  }
}
.pmp-customer .content .description {
  padding: 0 15vw 0 15vw;
}
.pmp-customer .content .carousel-indicators {
  bottom: none;
  position: relative;
}
.pmp-customer .content .carousel-indicators > li.active::after {
  background-color: #000;
}
.pmp-customer .content .carousel-indicators > li::after {
  height: 5px;
  background-color: transparent;
}
.pmp-customer .content .carousel-indicators li {
  text-indent: 0;
  width: auto;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  margin-bottom: 1rem;
}
@media screen and (min-width: 48em) {
  .pmp-customer .content .carousel-indicators li {
    width: 10%;
    margin-bottom: 0rem;
  }
}
.pmp-customer .content .carousel {
  width: 100vw;
  height: 60vh;
}
@media screen and (min-width: 48em) {
  .pmp-customer .content .carousel {
    height: 30vh;
  }
}
.pmp-customer .content .carousel .carousel-control-next-icon {
  background-image: url("/img/comp/btn_arrow_r_b.svg");
  height: 60px;
  width: 40px;
}
.pmp-customer .content .carousel .carousel-control-prev-icon {
  background-image: url("/img/comp/btn_arrow_l_b.svg");
  height: 60px;
  width: 40px;
}
.pmp-customer .content .carousel .carousel-item > .pure-g {
  padding: 0 10% 0 10%;
}
.pmp-customer .content .carousel .carousel-item > .pure-g > div {
  display: flex;
  text-align: center;
  justify-content: center;
}
.pmp-customer .content .carousel .carousel-item > .pure-g > div img {
  margin: auto auto;
}
.pmp-hr-container {
  background: #f7f7f7;
  padding-top: 3rem;
}
.pmp-hr-container .pmp-hr {
  height: 2px;
  background: #333;
}
.pmp-contact-us {
  background: #f7f7f7;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.pmp-contact-us .button {
  color: #FF7E8F;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  width: 200px;
  height: 35px;
  margin: auto;
  background-color: #fff;
  border: 2px solid #FF7E8F;
}
