$vm5-primary: #7AD9EF;
$vm5-blue: #00CAFF;
$vm5-green: #00DFB2;
$vm5-gray: #B9B9B9;
$vm5-default: #FC981C;
$white: #FFFFFF;

$font-inter: 'Inter', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$font-poppins: 'Poppins', sans-serif;
$font-worksans: 'Work Sans', sans-serif;