@import './variable.scss';
@import './nav.scss';
@import './footer.scss';
@import './general';

.milestone {
    margin-bottom: 10%;
}

.events {
    margin-bottom: 20%;
}

.milestone,
.events {

    .wrap {
        width: 82%;

        .milestone-container {
            margin-top: 5%;
            position: relative;
            display: inline-flex;
            justify-content: center;
            width: 100%;

            .milestone-years {
                display: inline-flex;
                flex-direction: column;
                justify-content: center;
                width: 10%;

                .years-item {
                    text-align: center;
                    font-family: $font-poppins;
                    font-weight: 700;
                    font-size: 3.125rem;
                    line-height: 2.75rem;
                    text-shadow: 0px 3.2389px 3.2389px rgba(0, 0, 0, 0.25);
                    transition: all .2s ease-in-out .05s, transform .5s cubic-bezier(.86, 0, .07, 1) .25s;
                    -webkit-text-stroke: 1px white;
                    color: transparent;
                    cursor: pointer;

                    &:not(:first-child) {
                        margin-top: 50%;
                    }

                    &.active {
                        color: white;
                    }

                    &:hover {
                        color: white;
                    }
                }
            }

            .milestone-cards {
                position: relative;
                width: 70%;
                margin-left: 5%;

                .card-item {
                    display: inline-flex;
                    flex-direction: column;
                    position: absolute;
                    width: 100%;
                    top: 0;
                    box-shadow: 0px 4px 15px -1px rgba(30, 28, 26, 0.5);
                    background-color: rgba(255, 255, 255, 0.02);
                    backdrop-filter: blur(10px);
                    border-radius: 32px;
                    overflow: hidden;
                    border: 1px solid white;
                    padding: 5%;
                    opacity: 0;
                    transition: all 500ms ease-in-out .05s, transform .5s cubic-bezier(.86, 0, .07, 1) .25s;

                    &.active {
                        opacity: 1;
                    }

                    .card-content {
                        .card-title {
                            color: $vm5-default;
                            font-size: 2.125rem;
                            font-weight: 700;
                            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                            font-family: $font-worksans;
                        }

                        .content-month {
                            color: $vm5-default;
                            font-size: 1.25rem;
                            font-weight: 700;
                            font-family: $font-worksans;
                        }

                        li {
                            font-family: $font-roboto;
                            font-size: 1.125rem;
                            line-height: 2.25rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .milestone {
        margin-bottom: 30%;
    }

    .events {
        margin-bottom: 50%;
    }
}

@media screen and (max-width: 991px) {

    .events {
        margin-bottom: 50%;
    }

    .milestone,
    .events {

        .wrap {
            width: 95%;

            .milestone-container {

                justify-content: space-evenly;


                .milestone-years {
                    width: 15%;

                    .years-item {
                        font-size: 2.5rem;
                    }
                }

                .milestone-cards {
                    margin-left: 0%;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .milestone {
        margin-bottom: 180%;

        .session-logo {
            img {
                width: 100%;
            }
        }
    }

    .events {
        margin-bottom: 300%;
    }

    .milestone,
    .events {
        .wrap {
            width: 92%;

            .milestone-container {
                flex-direction: column;
                align-items: center;
                margin-top: 5%;
                width: 100%;

                .milestone-years {
                    flex-direction: row;
                    align-items: center;
                    flex-wrap: wrap;
                    width: 100%;

                    .years-item {
                        font-weight: 700;
                        font-size: 1.5rem;
                        line-height: 2.75rem;

                        &:not(:first-child) {
                            margin-top: 0;
                            margin-left: 5%;
                        }
                    }
                }

                .milestone-cards {
                    position: relative;
                    width: 100%;
                    margin-left: 0%;

                    .card-item {
                        position: absolute;
                        width: 100%;
                        top: 0;
                        padding: 5%;

                        .card-content {
                            .card-title {
                                text-align: center;
                                font-size: 2.125rem;
                                font-weight: 700;
                            }

                            .content-month {
                                font-size: 1.25rem;
                                font-weight: 700;
                            }

                            li {
                                font-size: 1rem;
                                line-height: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}